<div class="personalInfo">
    <div class="container">
        <h1>Share us your idea</h1>
        <form method="post">
            <input class="form-control" placeholder="First name" type="text" name="firstName" id="#"></br>
            <input class="form-control" placeholder="Last name" type="text" name="lastName" id="#"></br>
            <input class="form-control" placeholder="Email" type="email" name="email" id="#"></br>
            <textarea class="form-control" placeholder="Your idea" name="personalIdea" id="" cols="30" rows="10"></textarea></br>
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    </div>
</div>

<div class="ideas">
    <div class="container">
        <h1>Customers' Ideas</h1>
        <div class="row">
            <div class="col-lg-12">
                <h1>Name</h1>
                <p>personalIdea</p>
                <strong>Email</strong>
            </div>
        </div>
    </div>
</div>


